@import url(https://fonts.googleapis.com/css?family=Lato:700);

*, 
*:before,
*:after {
    box-sizing: border-box;
}
body
{
	margin: 0;
	width: 100vw;
	height: 100vh;
    
}
article {
   
    width: 85vw;
    float:right;
    position: relative;
}
header
{
    background-color: gainsboro;
    width: 85vw;
    float:right;
    display: flex;
    
}
header h1 {
    margin-left: 50px;
}
sidebar 
{
    background-color: black;
    display: block;
    float: left;
    width: 15vw;
    height:100vh;
    color: whitesmoke;
    position: fixed;
    
}

sidebar li{
    list-style-type: none;
    color: whitesmoke;
    margin: 10px;
     
}

sidebar li a{
    color: whitesmoke;
    text-decoration: none;
}

.see-more {
    border: 2px solid whitesmoke;
    background-color: black;
    color: whitesmoke;
    padding: 10px;
    display: flex;
    
}
.search {
    width:15vh;
    
}
.icon {
    position: relative;
    display: flex;
   
    padding-top: 50px;
  
}
.icon img {
    width: auto;  
    height: 5em;
}


/* Clear floats after image containers */
.icon::after {
  content: "";
  clear: both;

  
}

#progressBar {
  width: 90%;
  margin: 0px 50px 50px 50px;
 /* margin: 10px auto; */
  height: 22px;
  background-color: #0A5F44;
   
  

}

#progressBar div {
  height: 100%;
  text-align: right;
  /*padding: 0 10px; */
  line-height: 22px; 
  width: 80%;
  background-color: #CBEA00;
  box-sizing: border-box;
}

/* pie charts starts here */

.set-size {
  font-size: 10em;
}

.charts-container {
  display: grid;
  grid-template-columns: auto auto;
    justify-content: center;
  
 margin: auto;
  color: #444;
  font-family: 'Lato', Tahoma, Geneva, sans-serif;
    font-size: 300px;
}
.charts-container:after {
  clear: both;
  content: '';
  display: table;
}

.pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  margin: 100px;
  position: relative;
}
.pie-wrapper:nth-child(3n + 1) {
  clear: both;
    
}

 .big-pie {
  height: 100%;
  width: 100%;

background: conic-gradient(from 0deg, #00A2D3, #5DBB46);
border-radius: 100%;
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .label {
  background: #ececec;
  border-radius: 50%;
  bottom: 0.4em;
  color: black;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.8em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
}
.pie-wrapper .label .smaller {
  color: black;
  font-size: .45em;
  padding-bottom: 20px;
  vertical-align: super;
}

.pie-wrapper.circle .label {
  background: none;
  color: #7f8c8d;
}




