@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Oswald:700|Roboto:300&display=swap');
*, 
*:before,
*:after {
    box-sizing: border-box;
}
body
{
	margin: 0;
    padding: 0;
	width: 100vw;
	height: 100vh;
    
}
article {
    width: 100vw;
    float:right;
   
    padding-left:200px;
    padding-right: 100px;
}
header
{
    background-color: dimgrey;
    width: 100vw;
    padding-left: 200px;
    float:right;
    display: flex;
    color: whitesmoke;
    font-family: 'Oswald';
    font-size: 0.5em;
    position: fixed;
}

sidebar 
{
    background-color: black;
    float: left;
    height:100vh;
    color: whitesmoke;
    position: fixed;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    
}
ul {
    margin:0;
    padding: 0;
}
sidebar li{
    list-style-type: none;
    color: whitesmoke;
}

sidebar li a{
    color: whitesmoke;
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    padding-right: 50px;
}

sidebar li a:hover, a:active {
    background-color: #ffe412;
    color: black;
}

.see-more {
    
    background-color: black;
    color: whitesmoke;
    display: flex;
    
}
button {
    background-color: black;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    padding: 8px 16px;
    font-family: 'roboto', sans-serif;
    font-size:13px;
}


/* Clear floats after image containers */
.title {
    width: 100wv;
    font-family: 'Oswald';
    font-size: 0.8em;
    margin: 60px 0px 20px 0px
 
 
    
}
#progressBar {
  width: 100%;
 
 /* margin: 10px auto; */
  height: 22px;
  background-color: #ffe412;
   
  

}

#progressBar div {
  height: 100%;
  text-align: right;
  /*padding: 0 10px; */
  line-height: 22px; 
  width: 80%;
  background-color: #5bba4a;
  box-sizing: border-box;
}

/* pie charts starts here */

.set-size {
  font-size: 10em;
}

.charts-container {
  display: grid;
  grid-template-columns: auto auto;
    justify-content: center;
  
 margin: auto;
  color: #444;
  font-family: 'Lato', Tahoma, Geneva, sans-serif;
    font-size: 300px;
}
.charts-container:after {
  clear: both;
  content: '';
  display: table;
}

.pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  margin: 100px;
  position: relative;
}
.pie-wrapper:nth-child(3n + 1) {
  clear: both;
    
}

 .big {
  height: 100%;
  width: 100%;

border-radius: 100%;
  left: 0;
  position: absolute;
  top: 0;
}
.pie-1
    {
background: conic-gradient(from 0deg, #00A2D3, #5DBB46);
}
.pie-2
    {
background: conic-gradient(from 0deg, #B94FD3, #5DBB46);
}
.pie-3
    {
background: conic-gradient(from 0deg, #FD4F00, #5DBB46);
}
.pie-4
    {
background: conic-gradient(from 0deg, #FFE412, #5DBB46);
}

.pie-wrapper .label {
  background: #ececec;
  border-radius: 50%;
  bottom: 0.4em;
  color: black;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.8em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
}
.pie-wrapper .label .smaller {
  color: black;
  font-size: .45em;
  padding-bottom: 20px;
  vertical-align: super;
}

.pie-wrapper.circle .label {
  background: none;
  color: #7f8c8d;
}





